@model IEnumerable<ProjetoRevenda.Models.DB.Proprietario>

@{
    ViewData["Title"] = "Manutenção de Proprietários";
}

<h1>Manutenção de Proprietários</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Novo Proprietário</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-start">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documento)
            </th>
            <th class="text-start">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cep)
            </th>
            <th class="text-start">
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th class="text-start">
                @Html.DisplayNameFor(model => model.Complemento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-start">
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Documento)
            </td>
            <td class="text-start">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cep)
            </td>
            <td class="text-start">
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td class="text-start">
                @Html.DisplayFor(modelItem => item.Complemento)
            </td>
            <td>
                @{
                    string strStatus = item.Status == "A" ? "Ativo" : "Cancelado";
                }
                @Html.DisplayFor(modelItem => strStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
            </td>
        </tr>
}
    </tbody>
</table>
